<!doctype html>
<html>
 <?- include('../partials/head') -?>
<body>
<?- include('../partials/header') -?>
<?- include('../partials/nav') -?>
<div class="container">
 <h1 class="text-center">Hello</h1>
 <div class="text-center my-3 border border-success">
 John Doe
 </div>
 <div class="text-center">
 </div>
</div>
<?- include('../partials/footer') -?>
</body>
</html>